<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 300vh;
            height: 100vh;
        }
    </style>
    <title>Corona Map</title>
</head>

<body>
    <!-- <h1>this is corona map</h1> -->
    <div id='map'></div>

</body>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaGFyc2hmbWRqIiwiYSI6ImNrYzBkcjM4NDFpeWQycHRiNnZrYnBzYnYifQ.r2a5XbL4dFagIWGnsqOARQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v10',
        zoom: 1,
        center: [0, 20]
    });
</script>
<script src="/static/index.js"></script>

</html>